/* Logo container images */
.logo-container img {
    width: auto;
    /* height: 120px; */
    height: 100%;
}


/* Navigation bar image */

.navbar-header img {
    height: 60px;
    width: auto;
    /* margin: 0;
    padding: 0; */
    padding-top: 5px;
}


/* Button Holder */

.my-btn-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/* About us logos */

.img-holder {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* About us social media */

.social-media-holder {
    /* margin: auto; */
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mobile-menu li a{
    text-transform: uppercase;
}

/* Pricing List */

.my-pricing-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-pricing-holder img {
    width: 20%;
    height: auto;
}

/* carousel padding */
.my-carousel-inner {
    padding-top: 65px;
}

.about-holder {
    text-align: justify;
}

/* About h1 */
.about-holder h2:first-child {
    min-height: 130px;
}

/* Nav-brand*/

@media screen and (max-width:768px) {
    .navbar-brand {
        margin: 0;
        padding: 0;
    }

    .my-break {
        flex-direction: column;
        width: 100%;
    }

    .navbar-brand img {
        height: 58px;
        padding: 5px 0;
        width: auto;
        margin: 0 15px;
    }

    .logo-container img {
        width: 100%;
    }

    .scroll-down img {
        display: none;
    }

    .img-holder{
        height: auto;
        padding: 15px 0;
    }

    .img-holder img {
        height: 100%;
        max-height: 150px;
    }

    .esoc-logo img {
        max-height: 100px;
        width: auto;
    }
    /* .my-faq-text {
        font-size: 1.125rem;
    } */
}